body, html {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #eeeeee;
    width: 100% !important;
    height: 100% !important;
}
body{
    background: url(../img/intro-bg.jpg) center;
    background-color: #000;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-weight: 700;
}
h1 strong {
    font-weight: 900;
}
h2 {
    text-transform: uppercase;
    line-height: 20px;
    margin: 0;
}
h3 {
    font-size: 25px;
    font-weight: 700;
}
h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
}
p {
    font-family: 'Play', sans-serif;
    font-size: 18px;

}
p.intro {
    margin: 12px 0 0;
    line-height: 24px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}


a {
    color: #fff;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #17A3A8;
}
ul, ol {
    list-style: none;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
ul, ol {
    padding: 0;
    webkit-padding: 0;
    moz-padding: 0;
}

/* Navigation */
.navbar-custom {
    margin-bottom: 0;
    text-transform: uppercase;
    background-color: #000;
}
.navbar-custom .navbar-brand {
    font-weight: 600;
}

.navbar-custom .navbar-brand img {
    margin-top: -6px;
    height: 40px;
}
.navbar-custom li a {
    padding: 10px 7px;
}
.navbar-custom .navbar-brand:focus {
    outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 10px;
    color: #fff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}
.navbar-custom a {
    color: #fff;
}
.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
    outline: 0;
    color: #17A3A8;
    background-color: transparent;
}
navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
    color: #fff;
}
.navbar-custom .nav li.active {
    outline: 0;
}
.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
    color: #fff;
}
.navbar-custom .nav li>.full-nav{
    display: block;
}
.navbar-custom .nav li>.collapse-nav{
    display: none;
}
.navbar-logo{
    padding: 6px 0 6px 0;
}

/* Home Style */
.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    background-color: #000;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;


}
.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}
.intro .intro-body .container .intro-logo-container{
    position: relative;
    height:100%;
    width:100%;
    flex-direction: row;
    display: flex;
    align-items: center;/* Align the flex-items vertically */
    justify-content: center;
}
.intro #main-logo{
    width: 60%;
}
.intro #intro-background {
    top: 0;
    position: absolute;
    display: table-cell;
    text-align: center;
    width:100%;
    height:100%;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    font-size: 40px;
    color: #17A3A8;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    margin-bottom: 0px;
}
.btn-circle:hover, .btn-circle:focus {
    outline: 0;
    color: #17A3A8;
}
.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
.section-title.center {
    padding: 30px 0;
}
.section-title h2, .section-title.center h2 {
    font-weight: 400;
    margin-bottom: 30px;
}
.section-title.center hr {
    height: 4px;
    width: 70px;
    text-align: center;
    position: relative;
    background-color: #17A3A8;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 0;
}
/* About Section */
#about {
    padding: 80px 0;
    color: #fff;
    /*background:  url(../img/about.jpg) no-repeat bottom center;*/
    /*    background: -moz-linear-gradient(top, #000 70%, #000 100%);  FF3.6+ 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #000), color-stop(100%, #000));  Chrome,Safari4+ 
        background: -webkit-linear-gradient(top, #000 70%, #000 100%);  Chrome10+,Safari5.1+ 
        background: -o-linear-gradient(top, #000 70%, #000 100%);  Opera 11.10+ 
        background: -ms-linear-gradient(top, #000 70%, #000 100%);  IE10+ 
        background: linear-gradient(to bottom, #000 70%, #000 100%);  W3C 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#000', GradientType=0 );  IE6-9 */
}
#about .about-text {
    margin-left: 10px;
}

#about .section-title.center hr {
    background-color: #17A3A8;
}
#about .padding-left {
    padding-left: 0px;
}
#about H4 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
#about i.fa {
    float: left;
    display: block;
    margin-right: 15px;
    color: #fff;
    font-size: 25px;
    text-shadow: 0 0 1px #666;
}

#about p {
    text-indent:2em;

}

/* Rooms Section */
#rooms {
    padding: 80px 0;
    color: #fff;
    background-color: #000;
    //background: #222222;
}
#rooms p{
    text-align: left;
    padding:0;
    margin:0;
}
.room-coming-img{
    
}
.star{
    padding:0;
    margin:0;
    font-size:35px;
    display:block;
    color: #17A3A8;
}
#rooms,#room2,#room3{
    padding-top: 20px;
}
#rooms img {
    padding-top: 20px;
}

/* FAQ Section 
==============================*/
#faq {
    padding: 80px 0;
    color: #eeeeee;
    //  background: #000; /* Old browsers */
}
.answer{
    // font-family:'Orbitron', sans-serif;
}
#faq .panel-heading{
    color: #222222;
    background-color:  #ddd;
}
#faq .panel-title{
    font-weight: bold;
}
#faq .panel-body{
    color: #222222;
    background-color:#eee;
}
/* Location Section */
#location {
    padding: 80px 0;
    background-color: #000;
    //background:  #222222; /* Old browsers */
}
.map-outer{
    position: relative;
    overflow: hidden;
    width: 65%;
    max-width: 400px;
}
.map-container{
    margin-top:100%;
}
.map-inner {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/* Contact Section */
#contact {
    padding: 80px 0;
    background-color: transparent;
    // background: #222222;
}

#contact .fa {
    color: #17A3A8;
    margin-bottom: 10px;
}

.hours{
    text-align:center
}
/* Career Section */
#career {
    //background: url(../img/testimonial-bg.jpg);
    //  background-color:#000;
    color: #fff;
    padding: 80px 0;
}

#career {
    padding: 0;
}
#career .item {
    display: block;
    width: 100%;
    height: auto;
}
#career .item p {
    font-weight: 500;
    margin: 30px 0;
    color: #fff;
}
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    filter: Alpha(Opacity=1);
    opacity: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 20px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.5s;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    opacity: 1;
    background-color: #17A3A8;
}
.owl-theme .owl-controls .owl-page.active span {
    background-color: #17A3A8;
}
/* Footer */
nav#footer {
    background-color:#000;
    color: #ddd;
    padding: 30px 0 25px 0;
}
nav#footer .fnav {
    vertical-align: middle;
}
ul.footer-social li {
    display: inline-block;
    margin-right: 10px;
}
nav#footer p {
    font-size: 16px;
    margin-top: 10px;
}
#footer i.fa {
    height: 30px;
    width: 30px;
    font-size: 20px;
    padding: 4px 5px;
    color: #ddd;
    transition: all 0.5s;
}
#footer i.fa:hover {
    color: #17A3A8;
}
@media(max-width:768px) {
    .navbar-custom .nav li>.full-nav{
        display: none;
    }
    .navbar-custom .nav li>.collapse-nav{
        display: block;
    }
}
@media(min-width:768px) {
    .navbar-custom {
        left: -5px;
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 0px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        padding-top: 15px;
        padding-bottom: 8px;
        background-color: #000;
    }
    .navbar-custom .navbar-brand img {
        margin-top: -16px;
    }
    #contact{
        background-color: #000;
    }
    .intro {
        height: 100%;
        padding: 0;
    }

}